Node-RED/flow.json
[{"id":"8b9199ac.505e1","type":"subflow","name":"MoAgriS","info":"input command until but without '!'\noutput is for errors","category":"","in":[{"x":20,"y":160,"wires":[{"id":"9628ace4.5a2d2"}]}],"out":[{"x":1440,"y":160,"wires":[{"id":"1126d5ec.22f322","port":2}]}],"env":[]},{"id":"c38265c.359de18","type":"simple-queue","z":"8b9199ac.505e1","name":"Queue","firstMessageBypass":true,"bypassInterval":"0","x":530,"y":160,"wires":[["a99ca0c4.237e4"]]},{"id":"703821eb.98f69","type":"change","z":"8b9199ac.505e1","name":"trigger next","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":240,"wires":[["c38265c.359de18"]]},{"id":"1126d5ec.22f322","type":"switch","z":"8b9199ac.505e1","name":"cnt<3?","property":"cnt","propertyType":"msg","rules":[{"t":"null"},{"t":"lte","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1330,"y":160,"wires":[["1393cf1f.16ca31"],["1393cf1f.16ca31"],["703821eb.98f69"]]},{"id":"a99ca0c4.237e4","type":"serial request","z":"8b9199ac.505e1","name":"","serial":"7c7ddf5d.a202d8","x":720,"y":160,"wires":[["3855313d.75e146"]]},{"id":"8fd2bbb0.24fb58","type":"switch","z":"8b9199ac.505e1","name":"Response OK?","property":"statusResp","propertyType":"msg","rules":[{"t":"neq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":160,"wires":[["27f38057.947fa8"],["703821eb.98f69"]]},{"id":"6122e8a5.330d6","type":"function","z":"8b9199ac.505e1","name":"ReorderCommand","func":"/**\n * Extract some data to check the response automatically in the end\n */\n\nvar addr=\"\";\nvar iParam=0;//parameter starts here\n\n//extract addr and cmd\nif(msg.payload.charAt(0)>='A' && msg.payload.charAt(0)<='Z' || msg.payload.charAt(0)=='?'){\n    //Group cmd\n    msg.isGroupCmd=true;\n    msg.addr=msg.payload.substr(0,1);\n    msg.cmd=msg.payload.substr(1,1);\n    iParam=2;\n}else{\n    //Single module cmd\n    msg.isGroupCmd=false;\n    msg.addr=msg.payload.substr(0,4);\n    msg.cmd=msg.payload.substr(4,1);\n    iParam=5;\n}\n\n//set param\nmsg.param=\"\";\nswitch(msg.cmd){\n    case 'G':\n    case 'S':\n    case 'P':\n        msg.param=msg.payload.substr(iParam,1);\n        break;\n    case 'L':\n    case 'F':\n        msg.param=msg.payload.substr(iParam,3);\n        break;\n    case 'C':\n    case 'J':\n        msg.param=msg.payload.substr(iParam,4);\n        break;\n}\n\nmsg.ttl=10000; //message time to live\n\nmsg.payload = msg.payload+\"!\\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["c38265c.359de18"]]},{"id":"3855313d.75e146","type":"function","z":"8b9199ac.505e1","name":"extractResp","func":"//check if response is correct\nmsg.statusResp=\"NOK\";\nif(!msg.isGroupCmd && msg.cmd!='H'){ //only expect a response from a directly addressed module and cmd is not a hearbeat\n    //cut off \\r\\n\n    if(msg.payload.substr(-2)==\"\\r\\n\")\n        msg.payload=msg.payload.substr(0,msg.payload.length-4); //4?!\n        \n    var resp=msg.payload.substr(4);\n    \n    switch(msg.cmd){\n        case 'I':\n            //all chars must be lowercase hexadecimal\n            var addrOk=true;\n            for(i=0;i<resp.length;i++){\n                if(!(resp.charAt(i)>='0' && resp.charAt(i)<='9' || resp.charAt(i)>='a' && resp.charAt(i)<='f'))\n                    addrOk=false;\n                    break;\n            }\n            if(addrOk)\n                msg.statusResp=\"OK\";\n            break;\n        case 'V':\n            if(resp.length==8)\n                msg.statusResp=\"OK\";\n            break;\n        case 'C':\n            if(resp==msg.param)\n                msg.statusResp=\"OK\";\n            break;\n        case 'K':\n            if(resp.charAt(0)>='A' && resp.charAt(0)<='Z')\n                msg.statusResp=\"OK\";\n            break;\n        case 'J':\n        case 'G':\n        case 'S':\n        case 'L':\n        case 'P':\n        case 'F':\n            if(resp==\"ACK\")\n                msg.statusResp=\"OK\";\n            break;\n    }\n}else{\n    msg.statusResp=\"OK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["8fd2bbb0.24fb58"]]},{"id":"27f38057.947fa8","type":"function","z":"8b9199ac.505e1","name":"cnt++","func":"if(msg.hasOwnProperty(\"cnt\"))\n    msg.cnt++;\nelse\n    msg.cnt=2;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":160,"wires":[["1126d5ec.22f322"]]},{"id":"1393cf1f.16ca31","type":"function","z":"8b9199ac.505e1","name":"RepeatCommand","func":"msg.payload = msg.request_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":80,"wires":[["a99ca0c4.237e4"]]},{"id":"9628ace4.5a2d2","type":"function","z":"8b9199ac.505e1","name":"serializeMsg","func":"/**\n * Splits payload into multiple msgs if it's an array or hands it over directly\n */\n\nif(Array.isArray(msg.payload)){\n    msg.payload.forEach(function(pl){\n        node.send({payload: pl});\n    })\n}else{\n   node.send({payload: msg.payload}); \n}\nreturn;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["6122e8a5.330d6"]]},{"id":"7c7ddf5d.a202d8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"false","out":"time","addchar":false,"responsetimeout":"500"},{"id":"feef8f77.74568","type":"debug","z":"fdf894c0.1ba338","name":"Send Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"ERROR\"","targetType":"jsonata","x":850,"y":220,"wires":[]},{"id":"f2de755b.cce37","type":"inject","z":"fdf894c0.1ba338","name":"StartSetup","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":140,"wires":[["ed90ed34.6e165"]]},{"id":"30ec0b65.db6b04","type":"subflow:8b9199ac.505e1","z":"fdf894c0.1ba338","name":"MoAgriS","env":[],"x":680,"y":240,"wires":[["feef8f77.74568","850afa46.4fbf"]]},{"id":"ed90ed34.6e165","type":"function","z":"fdf894c0.1ba338","name":"Setup","func":"/**\n * Setting every model individually. \n * Starting by enabling the status LED to see which module is getting set up.\n * \n * Setting all heartbeats to 15s\n */\n\nmsg.payload=[\n    \n    //LED0\n    \"f20dS0\",\n    \"f20dL000\",\n    \"f20dGL\",\n    \"f20dS1\",\n    \n    //LED1\n    \"b8b0S0\",\n    \"b8b0L000\",\n    \"b8b0GL\",\n    \"b8b0S1\",\n    \n    //set heartbeat interval for every module\n    \"?J0015\",\n  \n];\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["30ec0b65.db6b04"]]},{"id":"8dcb7b32.1b0cb","type":"inject","z":"fdf894c0.1ba338","name":"♥","topic":"","payload":"?H","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":110,"y":180,"wires":[["30ec0b65.db6b04"]]},{"id":"745f2271.1eff74","type":"inject","z":"fdf894c0.1ba338","name":"08:00","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","x":120,"y":220,"wires":[["aaa1d12f.92051"]]},{"id":"aaa1d12f.92051","type":"function","z":"fdf894c0.1ba338","name":"L255","func":"/**\n * Turn on lights\n */\nmsg.payload=[\n    \n    \"f20dL255\",\n    \"b8b0L255\",\n  \n];\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["30ec0b65.db6b04"]]},{"id":"403d4abf.0e58b4","type":"inject","z":"fdf894c0.1ba338","name":"17:00","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","x":120,"y":260,"wires":[["7e954b72.1befdc"]]},{"id":"7e954b72.1befdc","type":"function","z":"fdf894c0.1ba338","name":"L000","func":"/**\n * Turn on lights\n */\nmsg.payload=[\n    \n    \"f20dL000\",\n    \"b8b0L000\",\n  \n];\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["30ec0b65.db6b04"]]},{"id":"ff5a836d.9c26b8","type":"e-mail","z":"fdf894c0.1ba338","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":950,"y":260,"wires":[]},{"id":"850afa46.4fbf","type":"function","z":"fdf894c0.1ba338","name":"mail","func":"\nmsg.to=\"xxx@gmail.com\";\nmsg.from=\"xxx@gmail.com\";\nmsg.topic=\"Node-red error\";\nmsg.payload=\"did not receive the right response\";\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["ff5a836d.9c26b8"]]}]